femboywm/femboywm 
femboywm/femboywm.o
femboywm/drw.o
femboywm/util.o
femenu/femenu
femenu/femenu.o
femenu/drw.o 
femenu/stest.o 
femenu/util.o
femboyterm/ft.o
femboyterm/ft
femboyterm/x.o 
femboywm/fsUtils.o
